{% extends "main/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class="content-section_2 p-3 mx-auto col-md-6">
    <div>
        <h3 class="card-title text-info text-center">{{ object.title }}</h3>
    </div>
    <div>
        <div class="card">
            <div class="card-header text-center p-1">
                <h5 class="text-info">Ratings and Reviews</h5>
            </div>
            <div class="card-body d-flex p-3">
                <div class="mr-4 book_img_div">
                    <img class="img-thumbnail mr-4" src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg"
                        alt="Book image">
                </div>
                <div class="book_font">
                    <p class="card-text text-secondary">Author: {{book.author}}</p>
                    <p class="card-text text-secondary">Year published: {{book.year}}</p>
                    <p class="card-text text-secondary">ISBN: {{ book.isbn }}</p>

                    <h6 class="card-text text-secondary">
                        Goodreads:
                    </h6>

                    <p class="card-text text-secondary mb-0 ml-4">
                        <small>Ratings: {{ g_ratings }} / 5 <span class="fa fa-star checked"></span></small>
                    </p>
                    <p class="card-text text-secondary ml-4">
                        <small>Total ratings: {{ g_rating_counts }}</small>
                    </p>
                </div>
            </div>
            <div class="card-body p-3">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4 text-info">Review this book</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-secondary" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
        <p class="text-info mb-0 mt-4 ">
            All reviews ({{ comment_count }})
        </p>
        <hr>
        {% for comment in comments %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ comment.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="mr-2 text-info">{{ comment.author }}</small>
                    <small class="text-muted">{{ comment.date_posted| timesince }} ago</small>
                </div>
                <h6><a class="article-title" href="{% url 'post-detail' comment.id %}">{{ comment.title }}</a></h6>
                <p class="article-content">{{ comment.content | truncatechars:100}}</p>
            </div>
        </article>
        {% endfor %}
    </div>
</div>
{% endblock content %}