{% extends "main/base.html" %}
{% load static %}


{% block content %}
<div class="jumbotron bg-white text-white text-center pt-4 mb-0">
    <div class="m-auto kitabu-header">
        <img src="{% static 'main/images/_book.png' %}" alt="My image" width="100" height="85">
        <h1 class="mb-4 mr-4 display-4 font-weight-bold text-secondary">Kitabu Review</h1>
    </div>
    <hr>
    <p class="text-info">This is a book review app. Sign up, so you can search for books, leave reviews, and see the
        reviews made by other people.</p>
</div>
<div class="row mx-auto home-responsive">
    {% for book in books %}
    <div class="d-flex flex-wrap mx-auto shadow mb-4 mob-responsive">
        <div class="p-2 m-2 img-thumbnail mob-img">
            <a href="{% url 'book-detail' book.id %}">
                <img src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" alt="Book image" class="card_img">
            </a>
            <h6 class="text-info mt-2"><a href="{% url 'book-detail' book.id %}">{{book.title}}</a></h6>
            <small>
                <p class="text-info mb-0">by {{book.author}}, {{book.year}}</p>
            </small>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}